
.calculator {
  padding: 12%;
  padding-top: 35vh;
  height: 65vh;
  width: 27vw;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--calc-bg);
  box-shadow: rgba(246, 192, 152, 0.9) 0px 7px 49px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  margin-bottom: 50%;
}

.calc-container {
  display: flex;
  justify-content: center;

}

.calculator__btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5px;
}

.dark .calculator {
  box-shadow: rgba(113, 110, 110, 0.92) 0px 2px 30px 8px;
}


.calculator__btns button {
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: transparent;
  color: var(--txt-color);
}
.dark .calculator__btns .btn__op {

  color: #259a9a;
}

.calculator__btns button:active {
  color: white;
  box-shadow: rgba(255, 255, 255, 0.62) 0px 0px 10px 10px;


}
.calculator__btns button:active {
  color: white;
  box-shadow: rgba(255, 255, 255, 0.62) 0px 0px 10px 10px;


}

.calculator__btns button:last-child:active {
  font-size: 1.5rem;
  color: var(--txt-white);
  background-image: linear-gradient(344deg, #af541f, #a314c0);
  box-shadow: rgba(255, 255, 255, 0.62) 0px 7px 29px 0px;

}

.dark .calculator__btns button:active {
  box-shadow: rgba(245, 122, 247, 0.62) 0px 7px 29px 0px;

}
.calculator__btns button:hover {
  background-color: rgba(230, 165, 103, 0.15);
}

.calculator__btns button:active {
  background-color: rgba(255, 158, 28, 0.45);
}

.dark .calculator__btns button:hover {
  background-color: rgba(129, 123, 129, 0.35);
}

.dark .calculator__btns button:active {
  background-color: rgba(129, 123, 129, 0.95);
}

.calculator__result__exp {
  letter-spacing: 2px;
}

.calculator__result {
  font-weight: 400;
}

.calculator__btns button:last-child {
  font-size: 1.5rem;
  color: var(--txt-white);
  background-image: linear-gradient(344deg, #f3b794, #d570e9);

}
.dark .calculator__btns button:last-child {
  background-image: linear-gradient(344deg, #375a6b, #9f5c25);

}
.calculator__btns .btn__op {
  color: var(--calc-btn-color);
}
/* .calculator__btns .theme {
  font-size: 5rem;
  box-shadow: rgba(255, 255, 254, 0.9) 20px 20px 30px 10px;
  padding: none;
  border-radius: 50%;
} */
/* .dark  .calculator__btns .theme  {
  box-shadow: rgba(255, 255, 254, 0.1) 20px 20px 30px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator__btns .theme  {
  box-shadow: rgba(238, 170, 43, 0.1) 20px 20px 30px 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .calculator__btns .theme  {  

} */

.calculator__btns .theme::active  {
  box-shadow: rgba(250, 249, 247, 0.1) 20px 20px 30px 10px;

}
.calculator__btns:active  {

}
.calculator__result {
  position: relative;
  margin-bottom: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.calculator__result__exp {
  font-size: 2rem;
  min-width: 95vw;
  line-height: 1;
  transform-origin: right bottom;
  transition: transform 0.3s ease;
  color: var(--calc-res-color);
  /* overflow-wrap: break-word; */
}

.calculator__btns .btn__op {
  font-size: 1rem;
}
.calculator__result__exp:last-child {
  position: absolute;
  right: 0;
}

.calculator__result__exp span {
  display: inline-block;
  overflow: hidden;
  transition: width 0.3s ease;
}

@media only screen and (max-width: 500px) {
  .count {
    font-size: 1.5rem;
  }


  .count a {
    font-size: 1.7rem;

  }
  .calculator__btns button:active {
    color: white;
  }

  .dark .calculator {
    box-shadow: rgba(255, 255, 255, 0.62) 0px 7px 29px 0px;
    margin-bottom: 30%;
  }

  .calculator__btns button:hover {
    background-color: rgba(230, 165, 103, 0.15);
  }

  .calculator__btns button:active {
    background-color: rgba(255, 158, 28, 0.45);
  }

  .dark .calculator__btns button:hover {
    background-color: rgba(129, 123, 129, 0.35);
  }

  .dark .calculator__btns button:active {
    background-color: rgba(129, 123, 129, 0.95);
  }
.count {
  margin-top: 1vh;
}
  .calculator {
    margin-top: 1vh;
    height: 520px;
    width: 320px;
    border-radius: 30px;
    background-color: var(--calc-bg);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .calculator__btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .dark .calculator {
    box-shadow: rgba(255, 255, 255, 0.62) 0px 7px 29px 0px;
  }

  .calculator__btns button {
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: transparent;
    color: var(--txt-color);
  }

  .calculator__btns button:active {
    color: white;
  }

  .calculator__btns button:hover {
    background-color: rgba(230, 165, 103, 0.15);
  }

  .calculator__btns button:active {
    background-color: rgba(255, 158, 28, 0.45);
  }

  .dark .calculator__btns button:hover {
    background-color: rgba(129, 123, 129, 0.35);
  }

  .dark .calculator__btns button:active {
    background-color: rgba(129, 123, 129, 0.95);
  }

  .calculator__result__exp {
    letter-spacing: 1px;
  }

  .calculator__result {
    font-weight: 400;
  }

  .calculator__btns button:last-child {
    border-radius: 50%;
    color: var(--txt-white);
    background-image: linear-gradient(312deg, #cd6e36, #d400ff);
  }

  .calculator__btns .btn__op {
    color: var(--calc-btn-color);
font-weight: 900; 
 }

  .calculator__result {
    position: relative;
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .calculator__result__exp {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    transform-origin: right bottom;
    transition: transform 0.3s ease;
    color: var(--calc-res-color);
  }

  .calculator__result__exp:last-child {
    position: absolute;
    right: 0;
  }

  .calculator__result__exp span {
    display: inline-block;
    overflow: hidden;
    transition: width 0.3s ease;
  }
}
