body {
  background-image: url('https://images.unsplash.com/photo-1636288701635-a7531304471a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80');
}

.calculator {
  padding: 20px;
  height: 550px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--calc-bg);
  box-shadow: rgba(123, 105, 34, 0.9) 0px 7px 49px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.calculator__btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.dark .calculator {
  box-shadow: rgba(255, 255, 255, 0.92) 0px 7px 29px 0px;
}


.calculator__btns button {
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: transparent;
  color: var(--txt-color);
}

.calculator__btns button:active {
  color: white;
  box-shadow: rgba(255, 255, 255, 0.62) 0px 0px 10px 10px;


}

.calculator__btns button:last-child:active {
  font-size: 2rem;
  color: var(--txt-white);
  background-image: linear-gradient(344deg, #af541f, #a314c0);
  box-shadow: rgba(255, 255, 255, 0.62) 0px 7px 29px 0px;

}

.calculator__btns button:hover {
  background-color: rgba(230, 165, 103, 0.15);
}

.calculator__btns button:active {
  background-color: rgba(255, 158, 28, 0.45);
}

.dark .calculator__btns button:hover {
  background-color: rgba(129, 123, 129, 0.35);
}

.dark .calculator__btns button:active {
  background-color: rgba(129, 123, 129, 0.95);
}

.calculator__result__exp {
  letter-spacing: 2px;
}

.calculator__result {
  font-weight: 400;
}

.calculator__btns button:last-child {
  font-size: 2rem;
  color: var(--txt-white);
  background-image: linear-gradient(344deg, #cd6e36, #d400ff);
}

.calculator__btns .btn__op {
  color: var(--calc-btn-color);
}


.calculator__result {
  position: relative;
  margin-bottom: 20px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.calculator__result__exp {
  font-size: 2.5rem;
  line-height: 1;
  transform-origin: right bottom;
  transition: transform 0.3s ease;
  color: var(--calc-res-color);
}

.calculator__result__exp:last-child {
  position: absolute;
  right: 0;
}

.calculator__result__exp span {
  display: inline-block;
  overflow: hidden;
  transition: width 0.3s ease;
}

@media only screen and (max-width: 500px) {
  .count {
    font-size: 1.5rem;
  }

  .calculator__btns button:active {
    color: white;
  }

  .dark .calculator {
    box-shadow: rgba(255, 255, 255, 0.62) 0px 7px 29px 0px;
  }

  .calculator__btns button:hover {
    background-color: rgba(230, 165, 103, 0.15);
  }

  .calculator__btns button:active {
    background-color: rgba(255, 158, 28, 0.45);
  }

  .dark .calculator__btns button:hover {
    background-color: rgba(129, 123, 129, 0.35);
  }

  .dark .calculator__btns button:active {
    background-color: rgba(129, 123, 129, 0.95);
  }

  .calculator {
    height: 520px;
    width: 320px;
    border-radius: 10px;
    background-color: var(--calc-bg);
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .calculator__btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .dark .calculator {
    box-shadow: rgba(255, 255, 255, 0.62) 0px 7px 29px 0px;
  }

  .calculator__btns button {
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: transparent;
    color: var(--txt-color);
  }

  .calculator__btns button:active {
    color: white;
  }

  .calculator__btns button:hover {
    background-color: rgba(230, 165, 103, 0.15);
  }

  .calculator__btns button:active {
    background-color: rgba(255, 158, 28, 0.45);
  }

  .dark .calculator__btns button:hover {
    background-color: rgba(129, 123, 129, 0.35);
  }

  .dark .calculator__btns button:active {
    background-color: rgba(129, 123, 129, 0.95);
  }

  .calculator__result__exp {
    letter-spacing: 1px;
  }

  .calculator__result {
    font-weight: 400;
  }

  .calculator__btns button:last-child {
    border-radius: 50%;
    color: var(--txt-white);
    background-image: linear-gradient(312deg, #cd6e36, #d400ff);
  }

  .calculator__btns .btn__op {
    color: var(--calc-btn-color);
  }

  .calculator__result {
    position: relative;
    margin-bottom: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .calculator__result__exp {
    font-size: 2.5rem;
    line-height: 1;
    transform-origin: right bottom;
    transition: transform 0.3s ease;
    color: var(--calc-res-color);
  }

  .calculator__result__exp:last-child {
    position: absolute;
    right: 0;
  }

  .calculator__result__exp span {
    display: inline-block;
    overflow: hidden;
    transition: width 0.3s ease;
  }
}
