@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --body-bg: #f5f5f5;
  --txt-color: #3c5763;
  --txt-white: #fff;
  --calc-res-color: #2f2d2f;
  --calc-btn-color: #d400ff;
  --calc-bg: rgba(238,231,225,0.9);
}

.dark {
  --calc-res-color: #fff;
  --calc-bg: rgba(55,55,55,0.95);
  --body-bg: #728791;
  --txt-color: #e6a567;
}
.dark::hover {
  --txt-color: #f0b37a;
}

.dark .count {
  color: #e6a567;
}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-family: 'Silkscreen', cursive;

}

body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--txt-color);
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}



.count {
  display: flex;
  justify-content: center;
  font-size: 2.7rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #70939e;
}

img {
  max-width: 100px;
  display: flex;
  justify-content: center;
  padding: 0 !important;

}


.fangs {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}




.cloneNode.innerHTML{
  color: red;
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 500px) {

  .calc {
    max-height: 50vh !important;
  }

  body {
    padding-top: 20px;
  }

}
